#footer{
    // min-height: 100vh;
    font-family: sans-serif;
    background-color: #1E1E1E;
    color: white;
    display: grid; 
    grid-template-columns: 1.5fr 1fr 1fr;
    padding: 229px 180px 166px;

    @media screen and (max-width: 1000px) {
        padding: 4rem 5%;
        grid-template-columns: 1fr;
    
        & > *:not(:last-child){
            margin-bottom: 2rem;
        }
    }

    & > div:first-child{
        // border: 1px solid red;
    }

    & > div:nth-child(2){
        // border: 1px solid blue;
    }

    & > div:nth-child(3){
        padding-top: 5px;
        // border: 1px solid orange;
    }

    .footer__section1{
        // border: 1px solid red;

       @media screen and (max-width: 1000px) {
            & > *:not(div){
                // border: 1px solid orange;
                text-align: center;
            }
       }

        &Header{
            // border: 1px solid red;
            // display: flex;
            // justify-content: center;

            @media screen and (max-width: 1000px) {
                display: flex;
                justify-content: center;
            }
        }

        &Body{
            margin: 22px 0px 41px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.008em;
        }

        &CopyRight{
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.008em;
        }

        

    }

    .footer__links{
        // border: 1px solid green;
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer__linksHeader{
            margin-left: -20px;
            // border: 1px solid red;
            font-weight: 700;
            font-size: 18px;
            line-height: 35.82px;
            margin-bottom: 5px;
        }

        ul{
            li{
                // list-style: none;

                &:not(:last-child){
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .footer__connect{
        // border: 1px solid yellow;
        text-align: left;

        @media screen and (max-width: 1000px) {
            text-align: center;

            & > div{
                text-align: center;
                // margin-inline: auto;
                display: flex;
                justify-content: center;
            }
            // margin-inline: auto;
        }
        
        & > *:not(:last-child){
            // border: 1px solid red;
            margin-bottom: 20px;
        }

        &Header{
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }

        &Links{
            display: flex;
            align-items: center;
            gap: 12px;

            > * {
                cursor: pointer;
            }
        }

        &WhatsApp{
            cursor: pointer;
        }

        &WhatsApp,
        &Email{
            display: flex;
            align-items: center;

            span{
                margin-left: 15px;
            }
        }

    }
}