@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.lpWhy{
    padding: 140px 115px 160px;
    // border: 1px solid red;

    @media screen and (max-width: 500px) {
        padding: 50px 5% 50px;
    }

    &__header{
        font-family: 'Poppins', sans-serif;
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 45px;
        letter-spacing: 0.008em;

        span{
            color: var(--app-primary-color);
        }

        @media screen and (max-width: 500px) {
            font-size: 24px;
            line-height: 30px;
        }
    }

    &__reasons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 4.06rem;
        gap: 1rem;
        // border: 1px solid red;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        .lpWhy__reason{
            border-radius: 1.5rem;
            border: 1px solid red;
            padding: 2rem;

            @media screen and (max-width: 768px) {
                padding: 1.75rem;
            }
            background: #FAFAFA;
            border: 1px solid rgba(75, 75, 75, 0.30);
            box-shadow: 10px 10px 30px 0px rgba(184, 208, 233, 0.20);

            .lpWhy__reasonDetails{
                // border: 1px solid red;

                h3{
                    color: var(--link-color);
                    margin-bottom: 1.2rem;
                    font-weight: 500;
                    font-size: 1.5rem;
                    
                    @media screen and (max-width: 768px) {
                        margin-bottom: 1rem;
                        font-size: 1.25rem;
                    }
                }

                p{
                    font-size: 1.5rem;
                    
                    @media screen and (max-width: 768px) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}