@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


#birthdayPage{
    // padding-left: 35px;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    
    .birthdayPage__main{
        // border: 1px solid red;
        margin-top: 66px;
        padding: 0px 115px 0px;

        @media screen and (max-width: 768px) {
            padding: 0px 5% 0px;
        }

        .birthdayPage__header{
            // border: 3px solid green;
        }

        // BIRTHDAY SELECT
        .birthdayPage__select{
            // border: 4px solid black;
            margin: 65px 0;
        }

        .birthdayPage__today{
            margin-bottom: 56px;
            // border: 1px solid red;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 500px) {
                flex-direction: column;
                & > p:first-child{
                    margin-bottom: 1rem;
                }
            }

            & > p{
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 30px;
                color: rgba(30, 30, 30, 0.91);

                @media screen and (max-width: 500px) {
                    font-size: 1.2rem;
                }
            }
        }

        // CARD
        .birthdayCard__container{
            // border: 1px solid red;
            flex-wrap: wrap;
            margin-bottom: 20px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 56px 32px;

            @media screen and (max-width: 1200px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        .birthdayCard{
            flex: 0 1 31%;
            min-height: 208px;
            background: #FFFFFF;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            color: black;
            border: 1px solid lightgray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 40px;
            // align-items: center;            

            &.jericho{
                border-left: 7px solid red;
            }

            &.bethany{
                border-left: 7px solid #8AE219;
            }

            &.capernaum{
                border-left: 7px solid lightcyan;
            }

            &.galilee{
                border-left: 7px solid yellow;
            }

            &.jordan{
                border-left: 7px solid orange;
            }

            &.nile{
                border-left: 7px solid blue;
            }

            .birthdayCard__header{
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                .birthdaycard__userImage{
                    width: 48px;
                    height: 48px;
                    object-fit: cover;
                    border-radius: 99px;
                    margin-right: 10px;
                }

                .birthdayCard__headerName{
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 30px;
                    color: #000000;

                    @media screen and (max-width: 1200px) {
                        // font-size: 1rem;
                        font-size: 20px;
                    }
        
                    @media screen and (max-width: 768px) {
                        // font-size: 14px;
                        font-size: 18px;
                    }
                }

            }

            .birthdayCard__body{
                // border: 1px solid red;
                position: relative;
                // border: 1px solid red;

               .birthdayCard__bodyText{
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 25px;
                    color: #000000;

                    @media screen and (max-width: 1200px) {
                        line-height: 20px;
                        font-size: 1rem;
                    }
        
                    @media screen and (max-width: 768px) {
                        line-height: 18px;
                        font-size: 14px;
                    }
               }

                // .birthdayCard__bodyDate{
                //     font-weight: 400;
                //     font-size: 10px;
                //     line-height: 12px;
                // }
            }
        }
    }

    .birthdayPage__empty{
        // color: red;
        display: none;
    }

    .birthdayPage__show{
        display: block;
    }

}